<span class="container"id="chipSpan" style="display: inline;">
    <div class="shadow p-2 bg-warning rounded">
        <div class="p-3 bg-light rounded">
            <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-3 align-items-center">
                        <div class="betText">Total</div>
                        <div class="betText">Bet: </div>
                    </div>
                    <div class="col-9">
                        <p id="betAmount">{{pot}}</p>
                    </div>
                </div>
            </div>
            <div class="col-8 justify-content-end d-flex">
                <button class ="chips" id="Chip_1" (click)=addChipsToBet(1)></button>
                <button class ="chips" id="Chip_5" (click)=addChipsToBet(5)></button>
                <button class ="chips" id="Chip_10"(click)=addChipsToBet(10)></button>
                <button class ="chips" id="Chip_25"(click)=addChipsToBet(25)></button>
                <button class ="chips" id="Chip_100"(click)=addChipsToBet(100)></button>
            </div>
            </div>
        </div>
    </div>
</span>








