<div id="bossDiv">
    <div class="container-md">
      <div class="row p-5"></div>
      <div class="row align-items-center mt-5 pt-5 pb-4">
        <img class="img-fluid" src="../../assets/jbTitle2.png">
    </div>
      <div class="row justify-content-center">
        <div class="col-sm-auto bg-light rounded shadow pb-2">
          <form class="form-signin" [formGroup]="form" (submit)="submit()">
            <div class="form-group">
              <h1 id="pleaseSignIn" class="h2 fw-normal p-1 text-center mt-3 mb-2">Please sign in</h1>
  
              <input formControlName="username" type="username" class="form-control form-control-lg" id="floatingInput" placeholder="Username">
        
              <input formControlName="password" type="password" class="form-control form-control-lg" id="floatingPassword" placeholder="Password">

              <button id="logInSubmit" class="w-100 btn btn-lg" type="submit">Submit</button>
              <div *ngIf="dispError">Invalid Credentials Please Try Again</div>
            </div>
          </form>
    </div>
    </div>
    </div>
</div>